<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script>
	if (window.history.replaceState) {
		window.history.replaceState(null, null, window.location.href);
	}
</script>
<meta charset="utf-8" />
<title>Freelancer - Start Bootstrap Theme</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/style.css" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>OФИЦИАЛЕН САЙТ ЗА ГЛАСУВАНЕ НА РЕПУБЛИКА БЪЛГАРИЯ</title>
<body>
	<div class="top-container">
		<div style="text-align: left; position: static;">
			<img src="/images/euflag.png" width="100" />
		</div>
		<div class="header-text">
			<h1
				style="color: #00008b; font-family: Lucida Console, Courier New, monospace">ОФИЦИАЛЕН
				САЙТ ЗА ГЛАСУВАНЕ НА РЕПУБЛИКА БЪЛГАРИЯ</h1>
		</div>
		<div style="text-align: left;">
			<img src="/images/gerb-bulgaria.png" width="120px" height="120px" />
		</div>
	</div>
	<div class="navbar">
		<a href="/polls/list">ГЛАСУВАНИЯ</a> 
		<a class="active" href="/admin/results">ВРЕМЕННИ РЕЗУЛТАТИ</a> 
		<a href="/register">РЕГИСТРАЦИЯ НА ГЛАСУВАНЕ</a>
	</div>
	<div class="div-style">
		<div class="list">
			<p>КРАЙ НА ГЛАСУВАНЕТО!</p>
		</div>
	</div>
	<div class="footer">
	<p> &copy 2021 bgizbori.com</p>
	</div>
</body>
</html>